* {
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
.container {
  background-color: white;
  color: auto;
}

/* Header/Blog Title */
header {
  padding: 30px;
  text-align: center;
  background-image: url('./surgery.png');
  /* opacity: 0.6; */
}

.headerContainer {
  opacity: 0.7;
  height: 250px;
  margin: auto;
  width: 100%;
  padding: 40px 0;
  text-align: center;
  background-color: #086754;
}

header h1 {
  font-size: 50px;
  width: 100%;
  text-align: center;
  text-shadow: -2px 3px 8px rgba(20, 23, 20, 0.886);
  color: rgb(240, 247, 239);
}

header a {
  font-size: 25px;
  text-shadow: -2px 3px 8px rgba(0, 0, 0, 0.45);
  text-decoration: none !important;
  color: rgb(240, 247, 239);
}

ul.navList {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 36px;
  line-height: 36px;
  background: #0d7963;
  /* you can change the backgorund color here. */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

ul.navList li {
  border-right: 1px solid #189b80;
  /* you can change the border color matching to your background color */
  float: left;
}

ul.navList a {
  display: block;
  padding: 0 28px;
  color: #ccece6;
  text-decoration: none;
}

ul.navList a:hover,
ul.navList li.current a {
  background: #086754;
}

.topNav .search-container {
  float: right;
}


/* start of Main Section */
main {
  height: 70vh;
}

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33%;
  /* border: solid 1px black; */
  margin: 1px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Add a card effect for sections articles */
.card {
  background-color: rgba(255, 255, 255, 0.297);
  padding: 5px;
  margin-top: 5px;
}


h2 {
  font-size: 40px;
}

fieldset {
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}
/* Start of form submit */
.form-style-9{
	max-width: 100%;
	background: #FAFAFA;
	padding: 5px;
	margin: 10px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #086754;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 5px;
	min-height: 25px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 5px;
	outline: none;
	border: 1px solid #B0CFE0;
	

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
/* .form-style-9 ul input.align-left, label.align-left{
	float:left;
}
.form-style-9 ul input.align-right, label.align-right{
	float:right;
} */
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2d90a2 5%, #337DA8 100%);
	background-color: #28739E;
}
/* end of form submit */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  header {
    width: 100%;
  }
}

/* end of Main */

/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #0d7963;
  margin-top: 20px;
  color: #ccece6;
}